<footer style="padding-bottom: 0px;">
<div class="row text-white text-center text-lg-start "  style="background-color:rgb(250, 208, 231);" >

      
     
     
        <div class="col-md-3">
         
       
            <h1 style="font-weight: bold; font-size: 100px; text-align: center;">Advans</h1>
        
    </div>
         
         
   
    <div class=" col-md-3 s-cell text-center">
  <h3>Advans Group</h3>
  <h4>Le Groupe</h4>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Amret</a>
      <a class="dropdown-item" href="#">Adavns Cameron</a>
      <a class="dropdown-item" href="#">Adavns Ghana</a>
      <a class="dropdown-item" href="#">Advans DRC </a>
      <a class="dropdown-item" href="#">Advans Côte d'Ivoire</a>
      <a class="dropdown-item" href="#">Advans Nigeria</a>
      <a class="dropdown-item" href="#">Advans Pakistan</a>
      <a class="dropdown-item" href="#">Advans Tunisie</a>
      <a class="dropdown-item" href="#">Advans Tunisie</a>
    </div>
  </div> 
  </div>
  
          
          
      

<div class="col-md-3 s-cell text-center">
<h3>Contacts</h3><br/>
 <i class="fa-light fa-phone-volume">
</i> <span style="font-size: 20px;">36 41 05 10</span> 
</div>




<div class="col-md-3">
  <h3>Suivez-nous</h3>
  <div class="mt-4">
    <!-- Facebook -->
    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
    <!-- Dribbble -->
    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
    <!-- Linkedin -->
  </div>
</div>

            
          
  
    </div>
  </footer>