<h1 style="text-align: center;">Ajouter un utilisateur</h1>
<div class="container ">
<form [formGroup]="adduserForm" ><!-- addForm.reset()--><!--"onSubmit()(ngSubmit)="AddUser()" " -->
<label>ID</label><br/>
<input [(ngModel)]="user.ID" type="number" formControlName="id"><br/>

<label>CIN</label><br/>
<input [(ngModel)]="user.CIN"  type="text" formControlName="cin">

<div *ngIf="cin?.invalid && cin?.touched "
class="alert alert-danger">
le numéro a une taille non valide
</div>

<br/><label>Nom</label><br/>
<input [(ngModel)]="user.FirstName" type="text" formControlName="nom">
<div *ngIf= "isValidPattern()" class="alert alert-danger">
    Format nom respecté
    </div>


<br/><label>Prénom</label><br/>
<input [(ngModel)]="user.LastName" type="text" formControlName="prenom">
<div *ngIf= "isValidPattern1()" class="alert alert-danger">
    Format nom respecté
     </div>
     <br/><label>Adresse</label><br/>
     <input  [(ngModel)]="user.Address" type="text" formControlName="adresse">
     
     <div *ngIf=" adresse &&  adresse.invalid && adresse.touched" class="alert alert-danger">
         adresse est obligatoire
          </div>
          <br/><label>Nom d'utilisateur</label><br/>
          <input  [(ngModel)]="user.UserName" type="text" formControlName="Username"><br/>
          <label>mot de passe</label><br/>
          <input [(ngModel)]="user.Password" type="text" formControlName="pass"><br/>

          <br/>Role 
          <select #role (change)="onSlected(role.value)" formControlName="role"  [(ngModel)]="user.Role" name="role">
              <option default value="Admin">Admin</option>
              <option value="Agent">AgentCC</option>
          </select>



          <br/><label> Date de naissance </label><br/>

<!-- <input  (change)="SendDatetoFunction($event)" [ngModel]="user.DateOfBirth | date:'AAAA-MM-JJT heure:minute:seconde'" type="datetime" formControlName="datenaiss"> -->
 <!-- <input  (change)="SendDatetoFunction($event)" [ngModel]="user.DateOfBirth" type="date" formControlName="datenaiss"> -->

<!-- <div *ngIf=" datenaiss &&  datenaiss.invalid && datenaiss.touched" class="alert alert-danger">
    Date de naissance est obligatoire
    </div> -->
    <br/><label>sexe</label><br/>

<input #test [(ngModel)]="user.Gender" type="radio" formControlName="gender" id="gender" name="gender" value="femme" (change)="radioFun(test.value)"> 

<label>Femme</label>

<label>Homme</label>




<br/><label>Email</label>
<br/><input  [(ngModel)]="user.Email" type="text" formControlName="email">
<div *ngIf=" email &&  email.invalid && email.touched" class="alert alert-danger">
    email est obligatoire
     </div>


<br/><label>Date Début</label> <br/>
<!-- <input [ngModel]="user.StartDateInAdvans| date:'AAAA-MM-JJT heure:minute:seconde '" type="datetime" formControlName="datedebut"><br/> -->
<!-- <div *ngIf="datedebut &&  datedebut.invalid && datedebut.touched" class="alert alert-danger">
    Date de début est obligatoire
          </div> -->
<label>Département</label>
<select  #departement (change)="onSlecteddep(departement.value)" formControlName="depa" [(ngModel)]="user.Departement" name="departement">
<option>RH</option>
<option>IT</option>
<option>Finance</option>
<option>Marketing</option>
</select>

<br/>Agence
<input [(ngModel)]="user.Agence" type="text" formControlName="agence">
<br/><label>Code Manager</label>
<input  [(ngModel)]="user.Manager_STF_Code" type="number" formControlName="code">
<div *ngIf="code &&  code.invalid && code.touched" class="alert alert-danger">
    Code Manager est obligatoire
          </div>


<br/><button type="submit" class="btn btn-primary" (click)="AddUser()">Ajouter</button><!-- -->
<button type="reset" class="btn btn-secondary" [disabled]="adduserForm.invalid">Initialiser</button>
</form>
</div>
