<div id="header"  >
    <div class="container-fluid flex-container" style="color: white; font-size: 20px; background-color: rgb(250, 208, 231);">
   <nav class="navbar bg-body-tertiary">
    <div class="container">
   <div> <img src="" alt="advanslogo" width="30" height="24"></div>
 <div> <a routerLinkActive="actif" [routerLink]="['accueil']">Accueil</a></div>
      <div><a routerLinkActive="actif"  [routerLink]="['apropos']"  class="nav-item">A Propos</a></div>
      <div class="icons">
        <i class="fas fa-user" id="login-btn" ></i><!--(click)="toform()"-->
      </div>
    </div>
  </nav>
    </div>
</div>
    

    
    
   
