
<section id="page-intro" class="section-stripe " >

<div class="cn-intro container-fluid " >
    <h1 style="text-align: center; margin-top: 50px;"> Nos agences </h1>
<div class="s-block-inner" style="padding-left: 80px;">

    <img src="assets/loop1.png" alt class="fade-img img-responsive img-loaded" width="150" height="150" class="rounded"> 

<div id="c1" >
  <p class="text-justify" style="font-family:Verdana, Geneva, Tahoma, sans-serif; padding-left: 200px; ">
Advans Tunisie, dispose aujourd’hui d’un réseau de 19 Agences présentes dans 18 gouvernorats <br/>
et opérant au cœur des principaux centres économiques de la Tunisie, <br/>
en assurant une bonne couverture des zones rurales et urbaines.<br/>
</p>
</div>
</div>
</div>
</section><br/>



<section class="section-stripe">
<div class="container" style="text-align: center;">
<div class="s-table">
<div class="s-block s-map">
<div id="c3052" class="frame frame-default frame-type-text frame-layout-0">
<header>
<h2 class="ce-headline-center"> Nos agences </h2>
</header>
<img src="assets/tick.png" alt="tick" width="25" height="20"/>  <strong>AGENCE INTILAKA </strong> 

    <br>" Route de Mnihla"<br>
    " Km 4, au niveau de terminus métro 5"<br>
    " en face de kiosque Agil"<br>
    " Tél: 36 403 250"<br>
    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE PLACE BARCELONE </strong>
<br>
 	10, rue de Grèce 1001 Tunis
<br>
" Tél: 39 159 953"<br>

<img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE ARIANA</strong>
<br>
" 72 Av Sidi Jebeli"
<br>
" 1er étage"
<br>
" A coté de Mg Maxi Ariana2080"
<br>
" Tél: 39 159 954"<br>
<img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE SOUSSE </strong>
<br>
" 5, avenue Habib Thameur"<br>
" Bab Bhar 4000"
<br>
    " Sousse"<br>
     	Tél: 39 159 959<br>
        

         <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE KAIROUAN </strong>
<br>
" 10 Avenue Ahmed d’hissi 3100"
<br>
" Kairouan"
<br>
    " Tél: 39 159 960"<br>


    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE ZAGHOUAN </strong>
<br>
    " Boulevard de la Terre 1100"
<br>
   " Zaghouan"
    <br>
 	Tél: 39 159 955<br>

     <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE BÉJA</strong>
<br>
" Rue de l’Italie 9000"
<br>
" Béja"
    <br>" Tél: 39 159 962"<br>
    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE HAMMAM LIF </strong>
<br>
" Rue de l’indépendance"
    <br>
     	sur la route GP1 à coté du kiosque Total
   <br>
        " 2050 Hammam Lif"<br> 	Tél: 36 403 251<br>

        <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE JENDOUBA </strong>
<br>
 	13, Rue Ali Belhaouene<br>
    " 8100 Jendouba"<br>
    " Tél: 39 159 963"<br>

    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
    <strong>AGENCE NABEUL</strong>
<br>
" Avenue Mongi Bali Nabeul"<br>
" 8000"<br>
" Tél: 39 159 957"<br>
<img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE MEDENINE </strong>
<br>
    " Immeuble Triki"
    <br>
    " Rue 2 mai"
    <br>
    " 4100 Mednine"
    <br>
    " Tél: 39 159 965"<br>

    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE GABÈS </strong>
<br>
" Avenue Ali Ben khalifa"
    <br> 
    	6000 Gabès<br>
        " Tél: 39 159 964"<br>

<img src="assets/tick.png" alt="tick" width="25" height="20"/> 
    <strong>AGENCE SIDI BOUZID</strong>
<br>
" Avenue Ibn Chabat Sidi Bouzid"
<br>
" 9100 SidiBouzid"
" Tél: 39 159 961"<br>

<img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE SFAX</strong>
<br>
" Avenue des Martyrs"
    <br>
" Immeuble El Kallel"
<br>
" Sfax"
<br>
    " Tél: 39 159 968"<br>

    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE BIZERTE</strong>
<br>
" Rue Mohamed Habib Dhaouadi"
<br>
    " 7000 Bizerte"
    <br>
    " Tél: 39 159 958"<br>

    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE GAFSA</strong>
<br>
 	"Rue Sidi Ben Yakoub"
    <br>
    " 2100 Gafsa"
<br>
 	Tél: 39 159 967<br>
    
<img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE KASSERINE</strong>
<br>
" Immeuble Banneni, avenue Habib Bourguiba"
<br>
" 1200 Kasserine"
<br>
    " Tél: 39 159 956"<br>

    <img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE MAHDIA</strong>
<br>
" Immeuble Nour, avenue Ali Belhouane"
<br>
" 5100 Mahdia ville"
<br>
    " Tél: 39 159 952"<br>

<img src="assets/tick.png" alt="tick" width="25" height="20"/> 
<strong>AGENCE El kef </strong>
<br>
" Immeuble Aicha, Rue Hassan Harbouche"
<br>
 	"7100 Kef ville"
<br>
" Tél: 36 031 844"<br>
</div>
</div>
</div>
</div>
</section>




<section class="section-stripe">

<div id="c8492" style="text-align: center;" class="frame frame-default frame-type-text frame-layout-0">
<header>
<h2 > Nos Horaires de travail </h2>
</header>
<p>
    <strong>Les horaires de travail en hiver </strong>
</p>
<p>Du lundi au vendredi de 08h15 à 16h45</p>
<p>
<strong>Les horaires de travail à la séance unique (Horaires Ramadan + l'été)</strong>
    
</p>
<p>Du lundi au vendredi 08h00 à 15h00</p>
</div>
</section>
